body {
    background: #353935;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    border-bottom: 1px solid #fff;
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 1.4rem;
}

.post-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: 70px auto 0 auto;
}

.post-form label {
    color: #fff;
    position: relative;
    top: 10px;
    left: 35px;
    font-weight: bold;
    font-size: .8em;
}

.post-form input {
    width: 70%;
    margin: 0 auto;
    padding: 5px;
    outline: none;
}

.post-form button {
    margin: 15px auto 0 auto;
    cursor: pointer;
    height: 30px;
    width: 120px;
    border-radius: 5px;
    background-color: #191970;
    color: #fff;
    transition: .3s;
}

.post-form button:hover {
    background-color: #0000FF;

}




