<header>
    <h1>Entrada de veículos</h1>
</header>

<form action='./cadastrar' method="post" class="post-form">
    <label for="model">Modelo</label>
    <input type="text" name="model" placeholder="Modelo do veículo">
    <label for="plate">Placa</label>
    <input type="text" name="plate" placeholder="Placa do veículo">
    <label for="year">Ano</label>
    <input type="text" name="year" placeholder="Ano do veículo">
    <label for="owner">Proprietário</label>
    <input type="text" name="owner" placeholder="Proprietário do veículo">
    <button type="submit">Enviar</button>
    <button><a href="/table">Ver dados</a></button>
</form>

